._pull-right {
	float: right !important;
}

._pull-left {
	float: left !important;
}

._extramargin-top {
	margin-top: 4rem !important;
}

._mediummargin-top {
	margin-top: 2rem !important;
}

._smmargin-top {
	margin-top: 1rem !important;
}

._xsmargin-top {
	margin-top: .5rem !important;
}

._extramargin-bottom {
	margin-bottom: 4rem !important;
}

._mediummargin-bottom {
	margin-bottom: 2rem !important;
}

._smmargin-bottom {
	margin-bottom: 1rem !important;
}

._xsmargin-bottom {
	margin-bottom: .5rem !important;
}

._nobottom {
	margin-bottom: 0 !important;
}

._primary-font {
	font-family: $primary-font-family !important;
}