// ========== Fonts ==========
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$primary-font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
$medium-font-size: 0.75rem;
$small-font-size: 0.5rem;

// ========== Breakpoint ==========
$n_xs: 20em; // extra small devices
$x-sm: 30em;
$n_sm: 35.5em; // small devices
$n_md: 48em; // medium size devices
$n_lg: 64em; // big size devices
$n_xl: 80em; // desktop

// ========== Colours ==========
// please use http://chir.ag/projects/name-that-color for names

$tundora: #4A4A4A; // main font color
$punch: #DC3241; //the almost pink color
$skyblue: #64CAEC; //main color used for backgrounds
$pictonblue: #45B9E6; //Blue Shadow
$towergray: #ACB7BF; //light grey color
$botticelli: #DBE8F1; //light blue
$valencia: #DA3842; // heart red


// ========== skew degres and background offset ===========

$skewDeg: 2.5deg;
$offset: 2rem;
