%section.pure-u-1.pure-u-lg-3-4.documentation#documentation
  %main
    %h2 Documentation

    %p Docs coming soon! For now just check out #{link_to 'the code', 'https://github.com/dailydrip/firestorm'} I guess... :)
