%section.pure-u-1.pure-u-lg-3-4.mission#mission
  %main
    %h2 Mission

    %p DailyDrip set out to build a real-world production Phoenix application. We figured the Elixir community could use a good Forum system and we wanted to use it for comments on DailyDrip, so here we are eh?
