%section.pure-u-1.pure-u-lg-3-4.roadmap#roadmap
  %main.roadmap-container.pure-u-1
    - roadmap_messages[0..-1].each_with_index do |m, i|
      = message_box message: m, side: (i.even? ? :left : :right)
    = message_box message: roadmap_messages[-1], side: :center
