.patrons {
	display: none;
}

.patrons-container {
	.head-text {
		color: $tundora;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 4.5rem;
		text-align: center;
	}
}

.patrons-recipe {
	@include centered_flex();
	margin-bottom: 2rem;
	.patron {
		margin-top: 3rem;
		text-align: center;
		img {
			max-width: 3.5rem;
		}
		&.letter img {
			max-width: 6.5rem;
		}
	}
}