.homepage.pure-u-lg-4-5
	.homepage-container.pure-u-1
		.mobile-recipe.pure-u-lg-1-2
			.publicity-text.pure-u-1
				%p.text
					An Open Source Phoenix-based forum and comment system
			%figure.mobile-image.pure-u-1
				= image_tag image_path("mobile.png")
		.tablet-recipe.pure-u-lg-1-2
			%figure.tablet-image.pure-u-1
				= image_tag image_path("tablet.png")
			.publicity-text.pure-u-1
				%p.text
					Your new alternative to Discourse or Google Groups
	= partial('layouts/marketing/roadmap')
	= partial('layouts/marketing/patrons')